body{
  background-color: #E8F75F;
}
.answer{
  background-color: red;
  width: auto;
  font-size: 26px;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.correct{
  background-color: #00FF00;
}

.btn-primary{
  background-color: #E8F75F;
}

.btn-primary{
  background-color: #E8F75F;
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;

}

.title{
  margin: auto;
  background-color: #000057;
  color: white;
  font-size: 30px;
}
