.btn-primary{
  background-color: #E8F75F;
}
mat-card{
  width: 256px
}

body{
  background-color: #E8F75F;
}
.mat-app-background{
  background-color: #000057;
}

.btn-primary{
  background-color: rgb(13, 48, 48);
}

mat-card{
  width: 50%;
  margin: auto;
  text-align: center;

}

.title{
  margin: auto;
  background-color: #babac2;
  color: rgb(21, 211, 116);
}
