.mat-app-background{
  font-size: 26px;
  background: rgb(86, 111, 126);
}
.mat-card {
  background: azure;
  color: #fff;
}
.quiz{
  background-color: rgb(241, 241, 241);
}

.list{
 text-decoration-color: red($color: #af0f0f);
}

.title{
  margin: auto;
  background-color: #0303b4;
  color: rgb(236, 16, 16);
  font-size: 50px;
}

.form{
  background: darkgoldenrod;
}
